@page "/map"
@using ApiDemoApp.Models
@using System.Text.Json
@using ApiDemoApp.Services

@inject IHttpClientFactory _client

<h3>当前地图</h3>
@if(!string.IsNullOrEmpty(errorMessage))
{
    <div class="h3">@errorMessage</div>
}
else if(mapLayer == null || mapName==null)
{
    <div class="h3">Loading....</div>
}
else
{
    <p><img width="@mapLayer.width" height="@mapLayer.height" src="@mapLayer.image_url" /></p>
    <p>@mapName.name</p>
}

@code {
    string? errorMessage;
    MapName? mapName;
    MapLayer? mapLayer;

    protected override async Task OnInitializedAsync()
    {
        var client = _client.CreateClient("nav");
        try
        {
               mapLayer = await client.GetFromJsonAsync<MapLayer>("map");
               mapName = await client.GetFromJsonAsync<MapName>("current_map");
              
               errorMessage = null;
        }
        catch (Exception ex)
        {

            LogService.LogMessage(ex.Message);
        }
    }

}
